<div ng-controller="MainCtrl as main">
 <expenses-table></expenses-table>
  </br>
  <form role="form" novalidate ng-submit="main.saveExpense()" name="form">
    <h3>Enter a new expense</h3>
    <div class="container">
      <div class="col-xs-5" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
        <input
          ng-model="main.doc.name" class="form-control" name="name" placeholder="What did you buy?" required>
      </div>
      <div class="col-xs-5" ng-class="{ 'has-error' : form.price.$invalid && !form.price.$pristine }">
        <input name="price"
               ng-model="main.doc.price"
               class="form-control"
               placeholder="...and how much did it cost?"
               required
               ng-pattern="/\d+(\.\d\d)?$/">
      </div>
      <div class="col-xs-2">
        <button
          class="btn btn-primary pull-right"
          ng-disabled="form.$invalid"
          type="submit">Save
        </button>
      </div>
    </div>

    <br/>

    <div class="status" ng-hide="consRefused">
      {{ main.status }}
    </div>
    <div class="status" ng-show="consRefused">
      {{ consRefused }}
    </div>
  </form>
</div>
